.social-list {
  list-style: none;
}

.social-links {
  border-radius: 10px;
  position: fixed;
  left: 2%;
  top: 25%;
  font-size: 14px;
  text-align: center;

  a {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 25px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #19d3da;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);

    svg {
      color: #19d3da;
      font-size: 20px;
      position: relative;
      z-index: 2;
      transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    }

    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #19d3da;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
      z-index: 1;
    }

    &:hover {
      svg {
        color: #19d3da;
        transform: scale(1.1);
      }

      &:before {
        background: rgba(25, 211, 218, 0.1);
        transform: rotate(45deg) scale(1.1);
      }
    }
  }
}
